* {
    /padding e margin aplicável a todos/ margin: 0;
    padding: 0;
}

.header {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(rgba(170, 239, 198), rgba(170, 239, 198)), url(images/banner.jpg);
    background-position: center;
    background-size: cover; 
    position: relative;
}

menu {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

    menu img {
        width: 150px;
    }

.menu-links {
    flex: 1;
    text-align: right;
}

    .menu-links ul li {
        list-style: none;
        display: inline-block; /* para ficar na horizontal */
        padding: 8px 12px;
        position: relative;
    }

        .menu-links ul li a {
            color: rgb(0, 0, 0);
            text-decoration: solid;
            font-size: 1;
        }

        .menu-links ul li::after {
            content: '';
            width: 0%;
            height: 2px;
            background: rgb(255, 255, 255);
            display: block;
            margin: auto;
            transition: 0.5s;
        }

        .menu-links ul li:hover::after {
            width: 100%;
        }
