<!DOCTYPE html>

<div>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Casa a Portuguesa</title>
    <link rel="stylesheet" href="style.css">
</head>
    <section class="header">
        <nav>
            <a href="index.html"><img src="images/logo.png"></a>
            <div class="menu-links">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">A MINHA CONTA</a></li>
                    <li><a href="">CARRINHO DE COMPRAS</a></li>
                </ul>
            </div>
        </nav>
    </section>
</div>