@inherits LayoutComponentBase

<PageTitle>LI4Blazor</PageTitle>

<div class="page">

    <main>
        <div class="header">
            <Header />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
